{% extends 'AppBundle::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="cover-container">
            <div class="cover">
                <h1 class="normal-heading">SymfonyCar</h1>
            </div>
            {% include '@App/form/search_from_right.html.twig' %}
            <hr>
            <div class="row">
                <h2 class="text-left">Cars that match your query (1)</h2>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4 text-left" >
                    <img src="{{ asset('img/cars/fiat-500.png') }}" class="img-responsive">
                    <p>Model: {{ car.model }} / {{ car.classId }}</p>
                    <p>Ilośc miejsc: {{ car.numberOfSeats  }}</p>
                    <p>Szyknia: {{ car.transmissionId  }}</p>
                    <p>Cena za godzinę: {{ car.pricePerHour }}$</p>
                    <a href=" {{ path('booking', {'slug': car.slug}) }}" class="btn btn-secondary">Book Now</a>
                </div>
                <div class="col-sm-4 text-left" >
                    <img src="{{ asset('img/cars/mercedes-benz-class-a.png') }}" class="img-responsive">
                    <p>Model: {{ car.model }} / {{ car.classId }}</p>
                    <p>Ilośc miejsc: {{ car.numberOfSeats  }}</p>
                    <p>Szyknia: {{ car.transmissionId  }}</p>
                    <p>Cena za godzinę: {{ car.pricePerHour }}$</p>
                    <a href=" {{ path('booking', {'slug': car.slug}) }}" class="btn btn-secondary">Book Now</a>
                </div>
                <div class="col-sm-4 text-left" >
                    <img src="{{ asset('img/cars/opel-corsa.png') }}" class="img-responsive">
                    <p>Model: {{ car.model }} / {{ car.classId }}</p>
                    <p>Ilośc miejsc: {{ car.numberOfSeats  }}</p>
                    <p>Szyknia: {{ car.transmissionId  }}</p>
                    <p>Cena za godzinę: {{ car.pricePerHour }}$</p>
                    <a href=" {{ path('booking', {'slug': car.slug}) }}" class="btn btn-secondary">Book Now</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
